backend/n8n/workflows/engagement.json
{
  "id": "art-buddy-wf-005",
  "name": "User Engagement Tracker",
  "nodes": [
    {
      "id": "e5f6a7b8-0005-0005-0005-e5f6a7b80001",
      "name": "Engagement Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "engagement",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-e5f6a7b80002",
      "name": "Parse Engagement Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst userId = body.user_id;\nconst eventType = body.event_type || 'USER_INACTIVE';\nconst data = body.data || {};\nconst streakCount = data.streak_count || data.streak_days || 0;\nconst inactiveDays = data.inactive_days || data.days_since_active || 0;\nconst isStreak = eventType === 'STREAK_ACHIEVED';\nreturn [{ json: { userId, eventType, isStreak, streakCount, inactiveDays } }];"
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-e5f6a7b80003",
      "name": "Streak or Inactive?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.isStreak }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-e5f6a7b80004",
      "name": "Celebrate Streak",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 180],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "assign-1", "name": "status", "value": "streak_celebrated", "type": "string" },
            { "id": "assign-2", "name": "message", "value": "={{ $json.streakCount }} day streak! You're on fire! Keep the momentum going.", "type": "string" },
            { "id": "assign-3", "name": "reward", "value": "streak_badge", "type": "string" },
            { "id": "assign-4", "name": "userId", "value": "={{ $json.userId }}", "type": "string" },
            { "id": "assign-5", "name": "streakCount", "value": "={{ $json.streakCount }}", "type": "number" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-e5f6a7b80005",
      "name": "Check Inactivity Level",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 420],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.inactiveDays }}",
              "rightValue": 7,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-e5f6a7b80006",
      "name": "Send Strong Re-engagement",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1120, 340],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "assign-1", "name": "status", "value": "re_engagement_nudge", "type": "string" },
            { "id": "assign-2", "name": "message", "value": "=It's been {{ $json.inactiveDays }} days! Your art skills are waiting. Come back and pick up where you left off.", "type": "string" },
            { "id": "assign-3", "name": "priority", "value": "high", "type": "string" },
            { "id": "assign-4", "name": "userId", "value": "={{ $json.userId }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-e5f6a7b80007",
      "name": "Send Gentle Nudge",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1120, 520],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "assign-1", "name": "status", "value": "gentle_reminder", "type": "string" },
            { "id": "assign-2", "name": "message", "value": "=You haven't practiced in {{ $json.inactiveDays }} days. A quick 5-minute session keeps your skills sharp!", "type": "string" },
            { "id": "assign-3", "name": "priority", "value": "normal", "type": "string" },
            { "id": "assign-4", "name": "userId", "value": "={{ $json.userId }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "e5f6a7b8-0005-0005-0005-e5f6a7b80008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 360],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Engagement Webhook": {
      "main": [[{ "node": "Parse Engagement Event", "type": "main", "index": 0 }]]
    },
    "Parse Engagement Event": {
      "main": [[{ "node": "Streak or Inactive?", "type": "main", "index": 0 }]]
    },
    "Streak or Inactive?": {
      "main": [
        [{ "node": "Celebrate Streak", "type": "main", "index": 0 }],
        [{ "node": "Check Inactivity Level", "type": "main", "index": 0 }]
      ]
    },
    "Celebrate Streak": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Check Inactivity Level": {
      "main": [
        [{ "node": "Send Strong Re-engagement", "type": "main", "index": 0 }],
        [{ "node": "Send Gentle Nudge", "type": "main", "index": 0 }]
      ]
    },
    "Send Strong Re-engagement": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Send Gentle Nudge": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "art-buddy" }]
}
