backend/n8n/workflows/lesson-complete.json
{
  "id": "art-buddy-wf-001",
  "name": "Lesson Complete Handler",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-a1b2c3d40001",
      "name": "Lesson Complete Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "lesson-complete",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-a1b2c3d40002",
      "name": "Extract Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst eventType = body.event_type || 'LESSON_COMPLETED';\nconst userId = body.user_id;\nconst data = body.data || {};\nconst score = data.score || 0;\nconst lessonId = data.lesson_id;\nconst lessonsCompleted = data.lessons_completed || 0;\nconst isMilestone = eventType === 'PROGRESS_MILESTONE';\nreturn [{ json: { userId, eventType, score, lessonId, lessonsCompleted, isMilestone } }];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-a1b2c3d40003",
      "name": "Is High Score?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.score }}",
              "rightValue": 80,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-a1b2c3d40004",
      "name": "Set Achievement Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 200],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "assign-1", "name": "status", "value": "achievement", "type": "string" },
            { "id": "assign-2", "name": "message", "value": "=Great work! You scored {{ $json.score }}% on lesson {{ $json.lessonId }}. Keep it up!", "type": "string" },
            { "id": "assign-3", "name": "reward", "value": "badge_unlocked", "type": "string" },
            { "id": "assign-4", "name": "userId", "value": "={{ $json.userId }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-a1b2c3d40005",
      "name": "Set Encouragement Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 420],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "assign-1", "name": "status", "value": "encouragement", "type": "string" },
            { "id": "assign-2", "name": "message", "value": "=You scored {{ $json.score }}% — review the material and try again. You've got this!", "type": "string" },
            { "id": "assign-3", "name": "suggestion", "value": "review_lesson", "type": "string" },
            { "id": "assign-4", "name": "userId", "value": "={{ $json.userId }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-a1b2c3d40006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Lesson Complete Webhook": {
      "main": [[{ "node": "Extract Event Data", "type": "main", "index": 0 }]]
    },
    "Extract Event Data": {
      "main": [[{ "node": "Is High Score?", "type": "main", "index": 0 }]]
    },
    "Is High Score?": {
      "main": [
        [{ "node": "Set Achievement Response", "type": "main", "index": 0 }],
        [{ "node": "Set Encouragement Response", "type": "main", "index": 0 }]
      ]
    },
    "Set Achievement Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Set Encouragement Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "art-buddy" }]
}
