backend/n8n/workflows/low-performance.json
{
  "id": "art-buddy-wf-002",
  "name": "Low Performance Intervention",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50001",
      "name": "Low Performance Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "low-performance",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50002",
      "name": "Parse Performance Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst userId = body.user_id;\nconst eventType = body.event_type || 'QUIZ_FAILED';\nconst data = body.data || {};\nconst score = data.score || 0;\nconst topic = data.topic || data.lesson_title || 'Unknown Topic';\nconst quizId = data.quiz_id;\nconst consecutiveFails = data.consecutive_fails || 1;\nreturn [{ json: { userId, eventType, score, topic, quizId, consecutiveFails } }];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50003",
      "name": "Score Below Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.score }}",
              "rightValue": 60,
              "operator": { "type": "number", "operation": "lt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50004",
      "name": "Flag for Intervention",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/progress/intervention",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "user_id": "={{ $json.userId }}",
          "topic": "={{ $json.topic }}",
          "score": "={{ $json.score }}",
          "quiz_id": "={{ $json.quizId }}",
          "consecutive_fails": "={{ $json.consecutiveFails }}",
          "intervention_type": "quiz_failed"
        },
        "options": { "response": { "response": { "neverError": true } } }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50005",
      "name": "Set Mild Encouragement",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 420],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "assign-1", "name": "status", "value": "needs_review", "type": "string" },
            { "id": "assign-2", "name": "message", "value": "=Score of {{ $json.score }}% on {{ $json.topic }} — some review recommended.", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50006",
      "name": "Build Intervention Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1120, 200],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "assign-1", "name": "status", "value": "intervention_triggered", "type": "string" },
            { "id": "assign-2", "name": "userId", "value": "={{ $json.userId }}", "type": "string" },
            { "id": "assign-3", "name": "message", "value": "=Intervention logged for {{ $json.topic }}. Score: {{ $json.score }}%.", "type": "string" },
            { "id": "assign-4", "name": "action", "value": "review_and_retry", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Low Performance Webhook": {
      "main": [[{ "node": "Parse Performance Data", "type": "main", "index": 0 }]]
    },
    "Parse Performance Data": {
      "main": [[{ "node": "Score Below Threshold?", "type": "main", "index": 0 }]]
    },
    "Score Below Threshold?": {
      "main": [
        [{ "node": "Flag for Intervention", "type": "main", "index": 0 }],
        [{ "node": "Set Mild Encouragement", "type": "main", "index": 0 }]
      ]
    },
    "Flag for Intervention": {
      "main": [[{ "node": "Build Intervention Response", "type": "main", "index": 0 }]]
    },
    "Build Intervention Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Set Mild Encouragement": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "art-buddy" }]
}
