n8n-workflows/02_lesson_complete.json
{
  "name": "Art Buddy - Lesson Complete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lesson-complete",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "aa11bb22-cc33-4d44-ee55-ff6677889900",
      "name": "Receive Lesson Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lesson-complete-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\n\nconst userName = body.data?.user_name || 'Artist';\nconst userEmail = body.data?.user_email;\nconst eventType = body.event_type || 'lesson.completed';\nconst completed = body.data?.total_completed_lessons || 0;\nconst score = body.data?.score;\nconst skillLevel = body.data?.skill_level || 'beginner';\nconst isMilestone = eventType === 'progress.milestone';\n\nif (!userEmail) {\n  throw new Error('No user_email in event data');\n}\n\nlet emailSubject, emailBody;\n\nif (isMilestone) {\n  emailSubject = `🏆 Milestone reached! ${completed} lessons completed, ${userName}!`;\n  emailBody = `Hi ${userName},\n\nAmazing work! You've just reached a milestone — ${completed} lessons completed!\n\nYou're making incredible progress on your art journey. Keep pushing forward!\n\nSkill level: ${skillLevel}\n${score !== undefined && score !== null ? `Last score: ${score}%` : ''}\n\nContinue your journey: https://art-buddy-frontend.onrender.com\n\nThe Art Buddy Team`;\n} else {\n  emailSubject = `✅ Great job completing your lesson, ${userName}!`;\n  emailBody = `Hi ${userName},\n\nYou just completed a lesson — nice work!\n\nTotal lessons completed: ${completed}\nSkill level: ${skillLevel}\n${score !== undefined && score !== null ? `Score: ${score}%` : ''}\n\nReady for your next lesson? https://art-buddy-frontend.onrender.com\n\nKeep creating!\nThe Art Buddy Team`;\n}\n\nreturn [{\n  json: {\n    user_email: userEmail,\n    user_name: userName,\n    emailSubject,\n    emailBody\n  }\n}];"
      },
      "id": "bb22cc33-dd44-4e55-ff66-aa7788990011",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@sandbox1ad70d67da6a4fb286fbe18cb5810c35.mailgun.org",
        "toEmail": "={{ $json.user_email }}",
        "subject": "={{ $json.emailSubject }}",
        "text": "={{ $json.emailBody }}"
      },
      "id": "cc33dd44-ee55-4f66-aa77-bb8899001122",
      "name": "Send via Mailgun",
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [720, 300],
      "credentials": {
        "mailgunApi": {
          "id": "1",
          "name": "Mailgun account"
        }
      }
    }
  ],
  "connections": {
    "Receive Lesson Event": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send via Mailgun",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
