n8n-workflows/05_engagement.json
{
  "name": "Art Buddy - Engagement (Inactivity & Streaks)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "engagement",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11aabb22-cc33-4dd4-ee55-ff6677889900",
      "name": "Receive Engagement Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "engagement-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\n\nconst userName = body.data?.user_name || 'Artist';\nconst userEmail = body.data?.user_email;\nconst eventType = body.event_type || '';\n\nif (!userEmail) {\n  throw new Error('No user_email in event data');\n}\n\nlet emailSubject, emailBody;\n\nif (eventType === 'streak.achieved') {\n  const streakLength = body.data?.streak_length || 0;\n  const achievementLevel = body.data?.achievement_level || 'bronze';\n  const celebrationType = body.data?.celebration_type || 'badge';\n\n  emailSubject = `🔥 ${streakLength}-day streak! You're on fire, ${userName}!`;\n  emailBody = `Hi ${userName},\n\nCongratulations! You've achieved a ${streakLength}-day practice streak!\n\nAchievement level: ${achievementLevel.charAt(0).toUpperCase() + achievementLevel.slice(1)}\nReward: ${celebrationType.charAt(0).toUpperCase() + celebrationType.slice(1)}\n\nConsistency is the key to mastery. You're proving you have what it takes to become a great artist!\n\nKeep the streak alive: https://art-buddy-frontend.onrender.com\n\nThe Art Buddy Team`;\n\n} else {\n  // USER_INACTIVE\n  const inactivityDays = body.data?.inactivity_days || 0;\n  const engagementLevel = body.data?.engagement_level || 'moderate';\n\n  emailSubject = `🎨 We miss you, ${userName}! Your art journey awaits`;\n  emailBody = `Hi ${userName},\n\nIt's been ${inactivityDays} day${inactivityDays !== 1 ? 's' : ''} since your last Art Buddy session — we miss you!\n\nYour creative skills are waiting to be developed. Even just 10 minutes of practice today can make a big difference.\n\nWhy not try:\n  • A quick drawing exercise\n  • Reviewing a previous lesson\n  • Exploring a new technique\n\nResume your art journey: https://art-buddy-frontend.onrender.com\n\nWe're rooting for you!\nThe Art Buddy Team`;\n}\n\nreturn [{\n  json: {\n    user_email: userEmail,\n    user_name: userName,\n    emailSubject,\n    emailBody\n  }\n}];"
      },
      "id": "22bbcc33-dd44-4ee5-ff66-aa7788990011",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@sandbox1ad70d67da6a4fb286fbe18cb5810c35.mailgun.org",
        "toEmail": "={{ $json.user_email }}",
        "subject": "={{ $json.emailSubject }}",
        "text": "={{ $json.emailBody }}"
      },
      "id": "33ccdd44-ee55-4ff6-aa77-bb8899001122",
      "name": "Send via Mailgun",
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [720, 300],
      "credentials": {
        "mailgunApi": {
          "id": "1",
          "name": "Mailgun account"
        }
      }
    }
  ],
  "connections": {
    "Receive Engagement Event": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send via Mailgun",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
